*{
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    background-image: url(./image/telegram-cloud-docum.png);
    background-size: cover;
}
.header__container{
    text-align: center;
    align-items: center;

}
/* .heaader__a2{
 text-align: center;
    width: 200px;
    height: 70px;
    background-color: gray;
    border-radius: 10px;
    background-image: url(./image/Rectangle_5-min-3.webp);
    background-size: cover;
} */
.header__a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.header__h2{
    font-size: 44px;
    color: white;
}
.header__h1{
    font-size: 180px;
    color: white;
    margin: 0;
}
.header__list{
    display: flex;
    width: 1200px;
    text-align: center;
    align-items: center;
    margin-left: 80px;
}
.header__item{
    position: relative;
    width: 250px;
    height: 80px;
    border: 2px solid rgb(23, 23, 91);
    display: flex;
    border-radius: 15px;
    margin-left: 130px;
    align-items: center;
    background-color: rgb(45, 45, 139);
}
.header__item2{
    position: relative;
    background-image: url(./image/IMG_8632-removebg_1_.webp);
    background-size: cover;
    width: 500px;
    height: 500px;
    text-wrap: wrap;
    margin-left: 90px;
    margin-top: -100px;
} 
.header__img2{
    z-index: 0;
}
.header__button{
    z-index: 1;
}
.header__p{
    color: white;
    font-size: 18px;
}
.header__button{
    position: absolute;
    bottom: 5px;
    left:25px;
    width: 350px;
    height: 90px;
    border-radius: 20px;
    background-color: rgb(245, 76, 76);
    color: white;
    font-size: 24px;
}
.header__img{
    position: absolute;
    padding-left: -10px;
    left: -10px;
}
.header__container2{
    width: 1100px;
    text-align: center;
    margin-left: 250px;
}
.header__list2{
    display: flex;
    text-align: center;
    margin: o  100px;
}
.header__link{
    width: 250px;
    text-align: center;
    align-items: center;
    height: 180px;
    padding: 0;
    border-radius: 10px;
    margin: 0 30px;
    /* margin-right: 15px; */
    background-color: white;
}
.header__h3{
    font-size: 70px;
    margin: 0;
}
.header__img3{
    background-color: rgb(39, 37, 37);
    color: aqua;
}
i{
    font-size: 20px;
    margin: 0;
}
/* ------------------------------------------------------hero--------------------------------------------- */
.container2{
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    background-image: url(./image/1666973373_5-celes-c.png);
    background-size: cover;
    text-align: center;
}
.hero__container{
    width: 1300px;
    padding: 0 130px;
    text-align: center;
    margin-left: 100px;
}
.hero__button{
    width: 350px;
    height: 90px;
    border-radius: 20px;
    background-color: rgb(245, 76, 76);
    color: white;
    font-size: 24px;
    margin-left: 15px;
    text-decoration: none;
    list-style: none;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.hero__link{

    color:white;
    font-size: 16px;
}
.hero__list{
    display: flex;
}
.hero__item{
    width: 500px;
    text-align: left;
}
.hero__h1{
    color: white;
    font-size: 40px;
}
/* ------------------------------------------------add---------------------------------------------------- */
.add__container{
    width: 1200px;
    padding: 0 130px;
    text-align: center;
    margin-top: -20px;
    margin-left: 100px;
}
/* -----------------------------------------------------------condition---------------------------------------------- */
.condition__container{
    width: 1100px;
    height: 500px;
    text-align: center;
    padding: -5px 0px;
    background-color: rgb(244, 237, 237);
    margin-left: 170px;
    border-radius: 20px;
}
.condition__list{
    text-wrap: wrap;
    margin-top: 25px;
} 
.condition__item{
   width: 500px;
   height:100px;
   display: flex;
   margin-left: 0;
   text-align:left ;
   list-style: none;
}  
p{
    font-size: 18px;
    color: black;
    margin: 0;
}
b{
    font-size: 28px;
    margin: 0;
}
.condition__part{
    display: flex;
}
.condition__piece{
    margin-left: 10px;
}
.com__item{
    display: flex;
    margin-left: 60px;
}
/* ----------------------------------------------------locat----------------------------------- */
.loc__container{
    width: 1300px;
    background-color: white;
    display: flex;
    margin-left: 100px;
}
.loc__item{
    width: 300px;
    display: flex;
    list-style: none;
    margin: 50px 50px;
}
.loc__img{
    border-radius: 50%;
    border: 1px solid black;
}
.loc__piece{
    margin-left: 30px;
    text-align: left;
}
/* ------------------------------------------------------image---------------------------------------------------- */
.image__img{
    border-radius: 10px;
    margin: 7px  15px;
}
iframe{
    margin: 0 10px;
}
/* -----------------------------------------------------------info------------------------------------------------ */
.info__container{
    width: 100%;
    background-color: white;
    text-align: center;
}
.info__h1{
    color: black;
}
.info__part{
    text-align: left;
    margin-left: 500px;
}
.input1{
  width: 250px;
  height: 40px;
  margin: 10px 0;
}
input{
    align-items: center;
    margin: 5px 0;
}
.input2{
    width: 250px;
    height: 50px;
    font-size: 24px;
    background-color: rgb(6, 6, 89);
    color: white;
}
/* -----------------------------------------------over---------------------------------------------------------- */
.over__part{
    width: 900px;
    height: 470px;
    margin-left: 200px;
}
.over__container{
    text-align: center;
}
.over__item{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
}
.over__b{
    color: rgb(247, 247, 249);
    list-style: none;
    text-decoration: none;
    /* margin-left: 50px; */
    font-size: 60px;
    text-align: right;
}

.over__h2{
    color: white;
    font-size: 24px;
    padding-right: 90px;
}
.com__part{
    width: 1300px;
    height: 500px;
    margin-left: 80px;
}
/* -------------------------------------------------------------------end-------------------------------------------------------- */
.container3{

    
}
.end__container{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.end__part{
    width: 1345px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 30px;
    padding:0 30px;
}
.end__a{
    color: black;
}
.black__container{
    width: 100%;
    height: 100px;
    background-color: black;
}
@media(max-width:1300px){
    .container{
        width: 1200px;
    }
    .container2{
        width: 1200px;
    }
    .header__list{
        margin-left: 0;
        width: 1100px;
    }
    .header__list2{
        margin-left: -60px;
    }
    .hero__container{
        margin-left: 0;
    }
    .add__container{
        margin-left: 0;
    }
    .condition__container{
        margin-left: 50px;
    }
    .loc__container{
        width: 1150px;
        margin-left: 25px;
    }
    .com__part{
        margin-left: -70px;
    }
}
@media(max-width:1200px){
    .container{
        width: 1100px;
    }
    .container2{
        width: 1100px;
    }
    .header__list2{
        margin-left: -100px;
    }
    .hero__container{
        margin-left: -90px;
    }
    .add__container{
        margin-left: -75px;
    }
    .condition__container{
        width: 1000px;
    }
    .condition__item{
        width: 450px;
    }
    .loc__container{
      width: 96%;
    }
    .loc__img2{
        width: 60%;
    }
    .com__part{
        width: 1200px;
    }
    .over__part{
        margin-left: 75px;
    }
    .info__part{
        margin-left: 400px;
    }

}
@media(max-width:1100px){
    .container{
        width: 1000px;
    }
    .container2{
        width: 1000px;
    }
    .header__item2{
        display: none;
    }
    .header__h1{
        font-size: 150px;
    }
    .header__link{
        width: 225px;
    }
    .header__list{
        margin-left: 50px;
    }
    .header__list2{
        margin-left: -180px;
    }
    .hero__img{
        width: 45%;
        height: 400px;
    }
    .add__frame{
        width: 90%;
        height: 400px;
    }
    .condition__container{
        width: 900px;
        margin-left: 50px;
    }
    .loc__item{
        width: 300px;
    display: flex;
    list-style: none;
    margin: 38px 9px;
    }
    p{
        font-size: 16px;
    }
    .loc__img2{
        height: 400px;
    }
    .image__img{
        width: 70%;
        height: 300px;
    }
    .com__frame{
        width: 280px;
        height: 170px;
    }.com__part{
        width: 1100px;
    }
}@media(max-width:1000px){
    .container{
        width: 900px;
    }
    .container2{
        width: 900px;
    }
    .header__img3{
        display: none;
    }
    .header__h1{
        font-size: 115px;
    }
    .header__h3{
        font-size: 55px;
    }
    .header__link{
        width: 195px;
    }
    .header__item{
        margin-left: 100px;
    }
    .hero__h1{
        font-size: 25px;
    }
    .add__frame{
        width: 70%;
        height: 300px;
    }
    .condition__container{
        width: 874px;
    margin-left: 13px;
    }
    .com__part{
        width: 1000px;
    }
    .info__part{
        margin-left: 30px;
    }
    .over__h2{
        color: white;
    font-size: 20px;
    padding-right: 90px;
    }
    .over__part{
        width: 750px;
    }
    .add__item{
        margin-left: 0;
    }
    .com__item{
        margin-left: 30px;
    }
}@media(max-width:900px){
    .container{
        width: 800px;
    }
    .container2{
        width: 800px;
    }
    .header__container2{
        margin-left: 0;
    }
    .header__list2{
        margin-left: 15px;
    }
    .header__list{
        margin-left: 0;
    }
    .hero__img{
        width: 90%;
    }
    .hero__list{
        flex-direction: column;
        text-align: center;
    }
    .hero__container{
       width: 900px;
       margin-left: 0;
       padding: 0 25px;
       text-align: center;
    }
    .hero__item{
        text-align: center;
        width: 86%;
    }
    .add__item{
        width: 900px;
        margin-left: -60px;
    }
    .condition__part{
        flex-direction: column;
    }
    .condition__item{
        width: 90%;
    }
    .condition__container{
        width: 750px;
        height: 900px;
    }
    .loc__container{
        flex-direction: column;
    }
    .loc__img2{
        width: 90%;
    }
    .loc__part{
        text-align: center;
    }
    .com__frame{
        width: 25%;
        margin-left: 20px;
    }
    
   
}@media(max-width:800px){
    .container{
        width: 700px;
    }
    .container2{
        width: 700px;
    }
    .com__part{
        width: 850px;
    }
    .header__item{
        width: 210px;
    }
    .header__link{
        width: 150px;
        height: 107px;
    }
    .header__h3{
        font-size: 36px;
    }
    .header__h2{
        font-size: 38px;
    }
    i{
        font-size: 12px;
    }
    .hero__list{
        width: 600px;
        margin-left:20px;
    }
    .hero__container{
        width: 750px;
    }
    .add__container{
        width: 650px;
    }
    .add__item{
        width: 700px;
    }
    .condition__container{
        width: 600px;
    }
    .loc__container{
        width: 600px;
    }
    .over__part{
        width: 600px;
    }
    .over__li{
        display: none;
    }
}@media(max-width:700px){
    .container{
        width: 600px;
    }
    .container2{
        width: 6000px;
    }
    .header__h1{
        font-size: 100px;
    }
    .header__item{
        margin-left: 50px;
    }
    .header__list2{
        margin-left: -15px;
    }
    .com__item{
        flex-direction: column;
    }
    .com__part{
        display: flex;
        width: 600px;
    }
    .com__frame{
        margin: 10px 20px;
        width: 100%;
    }
}
@media(max-width:600px){
    .container{
        width: 450px;
    }
    .container2{
        width: 450px;
    }
    .header__h2{
        font-size: 30px;
    }
    .header__h1{
        font-size: 60px;
    }
    .header__list{
        width: 400px;
        flex-direction: column;
        text-align: left;
    }
    .header__list2{
        width: 400px;
        flex-direction: column;
        margin-left: 20px;
    }
    .header__link{
        width: 70%;
        margin: 10px 20px;
    }
    .header__h3{
        font-size: 56px;
    }
    .hero__list{
        width: 400px;
    }
    .hero__container{
        width: 400px;
    }
    .hero__img{
        height: 300px;
    }
    .add__item{
        width: 400px;
    }
    .add__frame{
        height: 200px;
    }
    .condition__container{
        width: 400px;
    }
    b{
        font-size: 22px;
        margin-bottom: 10px;
    }
    p{
        font-size: 12px;
    }
    .loc__container{
        width: 400px;
    }
    .com__part{
        flex-direction: column;
        height: 1200px;
        width: 400px;
    }
    .com__frame{
        width: 96%;
    }
    .over__part{
        width: 400px;
    }